<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<packages>
  <package id="xunit.abstractions" version="2.0.3" />
  <package id="xunit.assert" version="2.4.1" />
  <package id="xunit.core" version="2.4.1" />
  <package id="xunit.extensibility.core" version="2.4.1" />
  <package id="xunit.extensibility.execution" version="2.4.1" />
  <package id="xunit.runner.visualstudio" version="2.4.1" />
  <package id="WixBuildTools.TestSupport" version="4.0.40" />
  <package id="WixBuildTools.TestSupport.Native" version="4.0.40" />
  <package id="WixToolset.BootstrapperCore.Native" version="4.0.16" targetFramework="native" />
  <package id="WixToolset.DUtil" version="4.0.45" targetFramework="native" />
</packages>