# Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information.

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{cs,vb}]
dotnet_sort_system_directives_first = true

[*.cs]
csharp_indent_case_contents = true : error
csharp_indent_switch_labels = true : error
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true : error
csharp_style_expression_bodied_methods = when_on_single_line : suggestion
csharp_style_expression_bodied_constructors = when_on_single_line : suggestion
csharp_style_expression_bodied_operators = when_on_single_line : suggestion
csharp_style_expression_bodied_properties = when_on_single_line : suggestion
csharp_style_expression_bodied_indexers = when_on_single_line : suggestion
csharp_style_expression_bodied_accessors = when_on_single_line : suggestion
csharp_style_var_elsewhere = true : suggestion
csharp_style_var_for_built_in_types = true : suggestion
csharp_style_var_when_type_is_apparent = true : suggestion
dotnet_style_qualification_for_event = true : error
dotnet_style_qualification_for_field = true : error
dotnet_style_qualification_for_method = true : error
dotnet_style_qualification_for_property = true : error

[*.targets]
indent_size = 2
