<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="wixtoolset-core" value="https://ci.appveyor.com/nuget/wixtoolset-core" />
    <add key="wixtoolset-core-native" value="https://ci.appveyor.com/nuget/wixtoolset-core-native" />
    <add key="wixtoolset-data" value="https://ci.appveyor.com/nuget/wixtoolset-data" />
    <add key="wixtoolset-dtf" value="https://ci.appveyor.com/nuget/wixtoolset-dtf" />
    <add key="wixtoolset-extensibility" value="https://ci.appveyor.com/nuget/wixtoolset-extensibility" />
    <add key="wixbuildtools" value="https://ci.appveyor.com/nuget/wixbuildtools" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>