<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="build" value="build\artifacts" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
      <package pattern="WixToolset.*" allowedVersions="[,{GitBaseVersionMajor})" />
    </packageSource>
    <packageSource key="build">
      <package pattern="WixToolset.*" />
      <package pattern="WixInternal.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
