<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->

<packages>
  <!--
    Update build\WixInternal.TestSupport.Native.props and build\WixInternal.TestSupport.Native.targets
    when any of these versions are updated.
  -->
  <package id="xunit.abstractions" version="2.0.3" />
  <package id="xunit.assert" version="2.9.3" />
  <package id="xunit.core" version="2.9.3" />
  <package id="xunit.extensibility.core" version="2.9.3" />
  <package id="xunit.extensibility.execution" version="2.9.3" />
  <package id="xunit.runner.msbuild" version="2.9.3" />
  <package id="xunit.runner.visualstudio" version="2.8.2" />
</packages>
