<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="3.3.37" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win-x86.Microsoft.NETCore.DotNetAppHost" version="5.0.0-preview.7.20364.11" targetFramework="native" />
  <package id="WixToolset.BalUtil" version="4.0.41" targetFramework="native" />
  <package id="WixToolset.BootstrapperCore.Native" version="4.0.38" targetFramework="native" />
  <package id="WixToolset.DUtil" version="4.0.55" targetFramework="native" />
</packages>