<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="3.3.37" targetFramework="native" developmentDependency="true" />
  <package id="xunit.abstractions" version="2.0.3" />
  <package id="xunit.assert" version="2.4.1" />
  <package id="xunit.core" version="2.4.1" />
  <package id="xunit.extensibility.core" version="2.4.1" />
  <package id="xunit.extensibility.execution" version="2.4.1" />
  <package id="xunit.runner.msbuild" version="2.4.1" />
  <package id="xunit.runner.visualstudio" version="2.4.1" />
</packages>