<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include caerr.wxi ?>

    <!-- DirectX Custom Action DLL Definitions -->
    <Fragment>
        <Binary Id="DirectXCA" SourceFile="directxca.dll" />
    </Fragment>

    <Fragment>
        <CustomAction Id="WixQueryDirectXCaps" DllEntry="WixQueryDirectXCaps" Return="ignore" BinaryRef="DirectXCA" />
        
        <InstallUISequence>
            <Custom Action="WixQueryDirectXCaps" Before="LaunchConditions" Overridable="yes" Condition="VersionNT &gt; 400" />
        </InstallUISequence>

        <InstallExecuteSequence>
            <Custom Action="WixQueryDirectXCaps" Before="LaunchConditions" Overridable="yes" Condition="VersionNT &gt; 400" />
        </InstallExecuteSequence>
    </Fragment>

    <Fragment>
        <Property Id="WIX_DIRECTX_VERTEXSHADERVERSION" Secure="yes" Value="NotSet" />
        <CustomActionRef Id="WixQueryDirectXCaps" />
    </Fragment>

    <Fragment>
        <Property Id="WIX_DIRECTX_PIXELSHADERVERSION" Secure="yes" Value="NotSet" />
        <CustomActionRef Id="WixQueryDirectXCaps" />
    </Fragment>
</Wix>
