<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

    <?define NetCorePlatform = x86?>
    <?define NetCoreIdVersion = 313?>
    <?define NetCoreVersion = 3.1.3?>
    <?include NetCore3_Platform.wxi?>

    <?define AspNetCoreRedistLink = https://download.visualstudio.microsoft.com/download/pr/afec5ced-6298-4e54-add1-1d2e02d950f9/3a8064ac78eaf651c0030e8a96d4bd83/aspnetcore-runtime-3.1.3-win-x86.exe?>
    <?define DesktopNetCoreRedistLink = https://download.visualstudio.microsoft.com/download/pr/7cd5c874-5d11-4e72-81f0-4a005d956708/0eb310169770c893407169fc3abaac4f/windowsdesktop-runtime-3.1.3-win-x86.exe?>
    <?define DotNetCoreRedistLink = https://download.visualstudio.microsoft.com/download/pr/9afebfd7-7719-4612-b15b-79b67b725b42/b93c5514f58eed2e66fc30d0e88aafcb/dotnet-runtime-3.1.3-win-x86.exe?>

    <Fragment>
        <util:DirectorySearchRef Id="$(var.DotNetCoreId)" />

        <WixVariable Id="DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)DetectCondition" Value="$(var.DotNetCoreId)" Overridable="yes" />
        <WixVariable Id="DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)InstallCondition" Value="" Overridable="yes" />
        <WixVariable Id="DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)PackageDirectory" Value="redist\" Overridable="yes" />
        <WixVariable Id="DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)RepairCommand" Value="" Overridable="yes" />

        <PackageGroup Id="$(var.DotNetCoreRedistId)">
            <ExePackage
                Name="!(wix.DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)PackageDirectory)dotnet-runtime-$(var.NetCoreVersion)-win-$(var.NetCorePlatform).exe"
                InstallCommand="$(var.DotNetCoreRedistInstallCommand)"
                RepairCommand="!(wix.DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)RepairCommand)"
                UninstallCommand="$(var.DotNetCoreRedistUninstallCommand)"
                PerMachine="yes"
                DetectCondition="!(wix.DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)DetectCondition)"
                InstallCondition="!(wix.DotNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)InstallCondition)"
                Id="$(var.DotNetCoreRedistId)"
                Vital="yes"
                Permanent="yes"
                Protocol="burn"
                DownloadUrl="$(var.DotNetCoreRedistLink)"
                LogPathVariable="$(var.DotNetCoreRedistLog)"
                Compressed="no">
                <RemotePayload
                    CertificatePublicKey="6ADD0C9D1AC70DA3668644B1C78884E82E3F3457"
                    CertificateThumbprint="711AF71DC4C4952C8ED65BB4BA06826ED3922A32"
                    Description="Microsoft .NET Core Runtime - 3.1.2 (x86)"
                    Hash="3A53B9646B32B15D20B0B4EDC8EF9787E00EF490"
                    ProductName="Microsoft .NET Core Runtime - 3.1.2 (x86)"
                    Size="23298048"
                    Version="3.1.2.28517" />
            </ExePackage>
        </PackageGroup>
    </Fragment>

    <Fragment>
        <util:DirectorySearchRef Id="$(var.AspNetCoreId)" />

        <WixVariable Id="AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)DetectCondition" Value="$(var.AspNetCoreId)" Overridable="yes" />
        <WixVariable Id="AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)InstallCondition" Value="" Overridable="yes" />
        <WixVariable Id="AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)PackageDirectory" Value="redist\" Overridable="yes" />
        <WixVariable Id="AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)RepairCommand" Value="" Overridable="yes" />

        <PackageGroup Id="$(var.AspNetCoreRedistId)">
            <ExePackage
                Name="!(wix.AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)PackageDirectory)aspnetcore-runtime-$(var.NetCoreVersion)-win-$(var.NetCorePlatform).exe"
                InstallCommand="$(var.AspNetCoreRedistInstallCommand)"
                RepairCommand="!(wix.AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)RepairCommand)"
                UninstallCommand="$(var.AspNetCoreRedistUninstallCommand)"
                PerMachine="yes"
                DetectCondition="!(wix.AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)DetectCondition)"
                InstallCondition="!(wix.AspNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)InstallCondition)"
                Id="$(var.AspNetCoreRedistId)"
                Vital="yes"
                Permanent="yes"
                Protocol="burn"
                DownloadUrl="$(var.AspNetCoreRedistLink)"
                LogPathVariable="$(var.AspNetCoreRedistLog)"
                Compressed="no">
                <RemotePayload
                    CertificatePublicKey="6ADD0C9D1AC70DA3668644B1C78884E82E3F3457"
                    CertificateThumbprint="711AF71DC4C4952C8ED65BB4BA06826ED3922A32"
                    Description="Microsoft ASP.NET Core 3.1.3 - Shared Framework"
                    Hash="42F8DF6AAC1299E05A04B4D2DB3E10D0D1A8E942"
                    ProductName="Microsoft ASP.NET Core 3.1.3 - Shared Framework"
                    Size="7157720"
                    Version="3.1.3.20163" />
            </ExePackage>
        </PackageGroup>
    </Fragment>

    <Fragment>
        <util:DirectorySearchRef Id="$(var.DesktopNetCoreId)" />

        <WixVariable Id="DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)DetectCondition" Value="$(var.DesktopNetCoreId)" Overridable="yes" />
        <WixVariable Id="DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)InstallCondition" Value="" Overridable="yes" />
        <WixVariable Id="DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)PackageDirectory" Value="redist\" Overridable="yes" />
        <WixVariable Id="DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)RepairCommand" Value="" Overridable="yes" />

        <PackageGroup Id="$(var.DesktopNetCoreRedistId)">
            <ExePackage
                Name="!(wix.DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)PackageDirectory)windowsdesktop-runtime-$(var.NetCoreVersion)-win-$(var.NetCorePlatform).exe"
                InstallCommand="$(var.DesktopNetCoreRedistInstallCommand)"
                RepairCommand="!(wix.DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)RepairCommand)"
                UninstallCommand="$(var.DesktopNetCoreRedistUninstallCommand)"
                PerMachine="yes"
                DetectCondition="!(wix.DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)DetectCondition)"
                InstallCondition="!(wix.DesktopNetCoreRuntime$(var.NetCoreIdVersion)Redist$(var.NetCorePlatform)InstallCondition)"
                Id="$(var.DesktopNetCoreRedistId)"
                Vital="yes"
                Permanent="yes"
                Protocol="burn"
                DownloadUrl="$(var.DesktopNetCoreRedistLink)"
                LogPathVariable="$(var.DesktopNetCoreRedistLog)"
                Compressed="no">
                <RemotePayload
                    CertificatePublicKey="6ADD0C9D1AC70DA3668644B1C78884E82E3F3457"
                    CertificateThumbprint="711AF71DC4C4952C8ED65BB4BA06826ED3922A32"
                    Description="Microsoft Windows Desktop Runtime - 3.1.2 (x86)"
                    Hash="53E9F596F3333EB8576CC237396B5D6A26F98EBE"
                    ProductName="Microsoft Windows Desktop Runtime - 3.1.2 (x86)"
                    Size="48525928"
                    Version="3.1.2.28517" />
            </ExePackage>
        </PackageGroup>
    </Fragment>
</Wix>
