<?xml version='1.0' encoding='utf-8'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
    <?define NetFx45EulaLink = http://go.microsoft.com/fwlink/?LinkID=260867 ?>
    <?define NetFx45WebId = NetFx45Web ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx45WebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx45WebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx45WebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx45EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <?define NetFx45RedistId = NetFx45Redist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx45RedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx45RedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx45RedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx45EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
</Wix>
