<?xml version='1.0' encoding='utf-8'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
    <?define NetFx462EulaLink = http://referencesource.microsoft.com/license.html ?>
    <?define NetFx462WebId = NetFx462Web ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx462WebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx462WebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx462WebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx462EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <?define NetFx462RedistId = NetFx462Redist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx462RedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx462RedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx462RedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx462EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
</Wix>
