<?xml version='1.0' encoding='utf-8'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
    <?define NetFx451EulaLink = http://wixtoolset.org/licenses/netfx451 ?>
    <?define NetFx451WebId = NetFx451Web ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx451WebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx451WebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx451WebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx451EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <?define NetFx451RedistId = NetFx451Redist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx451RedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx451RedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx451RedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx451EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
</Wix>
