<?xml version='1.0' encoding='utf-8'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
    <?define NetFx46EulaLink = http://go.microsoft.com/fwlink/?LinkID=558772 ?>
    <?define NetFx46WebId = NetFx46Web ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx46WebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx46WebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx46WebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx46EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>

    <?define NetFx46RedistId = NetFx46Redist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx46RedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx46RedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx46RedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx46EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
</Wix>
