<?xml version='1.0' encoding='utf-8'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
    <?define NetFx40EulaLink =  http://go.microsoft.com/fwlink/?LinkID=188993 ?>
    <?define NetFx40WebId = NetFx40Web ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx40WebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx40WebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx40WebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx40EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <?define NetFx40RedistId = NetFx40Redist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx40RedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx40RedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx40RedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx40EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <?define NetFx40ClientWebId = NetFx40ClientWeb ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx40ClientWebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx40ClientWebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx40ClientWebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx40EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <?define NetFx40ClientRedistId = NetFx40ClientRedist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx40ClientRedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx40ClientRedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx40ClientRedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx40EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <!-- Not sure why we have to redefine the table here. -->
    <Fragment>
        <CustomTable Id='WixMbaPrereqInformation' BootstrapperApplicationData='yes'>
            <Column Id='PackageId' Category='Identifier' Type='string' Width='72' PrimaryKey ='yes'/>
            <Column Id='LicenseUrl' Category='Formatted' Type='string' Width='0' Nullable='yes'/>
            <Column Id='LicenseFile' Category='Formatted' Type='string' Width='0' Nullable='yes'/>
        </CustomTable>
    </Fragment>
</Wix>
