<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="2.1.65" developmentDependency="true" targetFramework="net40" />
  <package id="WixToolset.MSBuild" version="4.0.0-build-0133" developmentDependency="true" targetFramework="net40" />
  <package id="WixToolset.Bal.wixext" version="4.0.40" targetFramework="net40" />
  <package id="WixToolset.Util.wixext" version="4.0.36" targetFramework="net40" />
</packages>