<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include caDecor.wxi ?>
    <?include caerr.wxi ?>

    <Fragment>
        <UI Id="ConfigureUsersErrorText">
            <Error Id="$(var.msierrUSRFailedUserCreate)" Message="!(loc.msierrUSRFailedUserCreate)" />
            <Error Id="$(var.msierrUSRFailedUserCreatePswd)" Message="!(loc.msierrUSRFailedUserCreatePswd)" />
            <Error Id="$(var.msierrUSRFailedUserGroupAdd)" Message="!(loc.msierrUSRFailedUserGroupAdd)" />
            <Error Id="$(var.msierrUSRFailedGrantLogonAsService)" Message="Failed to grant 'logon as service' rights to user.  ([2]   [3]   [4]   [5])" />
            <Error Id="$(var.msierrUSRFailedUserCreateExists)" Message="!(loc.msierrUSRFailedUserCreateExists)" />
        </UI>
    </Fragment>

    <Fragment>
        <UI Id="ConfigureSmbErrorsText">
            <Error Id="$(var.msierrSMBFailedCreate)" Message="!(loc.msierrSMBFailedCreate)" />
            <Error Id="$(var.msierrSMBFailedDrop)" Message="!(loc.msierrSMBFailedDrop)" />
        </UI>
    </Fragment>

    <Fragment>
        <UI Id="PerCounterDataErrorsText">
            <Error Id="$(var.msierrInstallPerfCounterData)" Message="!(loc.msierrInstallPerfCounterData)" />
            <Error Id="$(var.msierrUninstallPerfCounterData)" Message="!(loc.msierrUninstallPerfCounterData)" />
        </UI>
    </Fragment>

    <Fragment>
        <UI Id="ConfigurePerfmonErrorsText">
            <Error Id="$(var.msierrPERFMONFailedRegisterDLL)" Message="!(loc.msierrPERFMONFailedRegisterDLL)" />
            <Error Id="$(var.msierrPERFMONFailedUnregisterDLL)" Message="!(loc.msierrPERFMONFailedUnregisterDLL)" />
        </UI>
    </Fragment>

    <Fragment>
        <UI Id="SecureObjectsErrors">
            <Error Id="$(var.msierrSecureObjectsFailedCreateSD)" Message="!(loc.msierrSecureObjectsFailedCreateSD)" />
            <Error Id="$(var.msierrSecureObjectsFailedSet)" Message="!(loc.msierrSecureObjectsFailedSet)" />
            <Error Id="$(var.msierrSecureObjectsUnknownType)" Message="!(loc.msierrSecureObjectsUnknownType)" />
        </UI>
    </Fragment>

    <Fragment>
        <UI Id="XmlFileErrorsText">
            <Error Id="$(var.msierrXmlFileFailedRead)" Message="!(loc.msierrXmlFileFailedRead)" />
            <Error Id="$(var.msierrXmlFileFailedOpen)" Message="!(loc.msierrXmlFileFailedOpen)" />
            <Error Id="$(var.msierrXmlFileFailedSelect)" Message="!(loc.msierrXmlFileFailedSelect)" />
            <Error Id="$(var.msierrXmlFileFailedSave)" Message="!(loc.msierrXmlFileFailedSave)" />
        </UI>
    </Fragment>

    <Fragment>
        <UI Id="XmlConfigErrorsText">
            <Error Id="$(var.msierrXmlConfigFailedRead)" Message="!(loc.msierrXmlConfigFailedRead)" />
            <Error Id="$(var.msierrXmlConfigFailedOpen)" Message="!(loc.msierrXmlConfigFailedOpen)" />
            <Error Id="$(var.msierrXmlConfigFailedSelect)" Message="!(loc.msierrXmlConfigFailedSelect)" />
            <Error Id="$(var.msierrXmlConfigFailedSave)" Message="!(loc.msierrXmlConfigFailedSave)" />
        </UI>
    </Fragment>

    <!-- WiX OS-detection properties and custom action -->
    <Fragment>
        <CustomAction Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" BinaryKey="$(var.Prefix)UtilCA$(var.Suffix)" DllEntry="WixQueryOsInfo" Execute="firstSequence" Return="check" SuppressModularization="yes" />
        <InstallExecuteSequence>
            <Custom Action="$(var.Prefix)QueryOsInfo$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="$(var.Prefix)QueryOsInfo$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallUISequence>
    </Fragment>

    <Fragment>
        <Property Id="WIX_SUITE_BACKOFFICE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_BLADE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_COMMUNICATIONS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_COMPUTE_SERVER" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_DATACENTER" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_EMBEDDED_RESTRICTED" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_EMBEDDEDNT" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_ENTERPRISE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_MEDIACENTER" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_PERSONAL" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_SECURITY_APPLIANCE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_SERVERR2" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_SINGLEUSERTS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_SMALLBUSINESS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_SMALLBUSINESS_RESTRICTED" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_STARTER" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_STORAGE_SERVER" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_TABLETPC" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_TERMINAL" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_SUITE_WH_SERVER" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsInfo$(var.Suffix)" />
    </Fragment>

    <Fragment>
        <CustomAction Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" BinaryKey="$(var.Prefix)UtilCA$(var.Suffix)" DllEntry="WixQueryOsDirs" Execute="firstSequence" Return="check" SuppressModularization="yes" />
        <InstallExecuteSequence>
            <Custom Action="$(var.Prefix)QueryOsDirs$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="$(var.Prefix)QueryOsDirs$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallUISequence>
    </Fragment>

    <Fragment>
        <Property Id="WIX_DIR_ADMINTOOLS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_ALTSTARTUP" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_CDBURN_AREA" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_ADMINTOOLS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_ALTSTARTUP" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_DOCUMENTS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_FAVORITES" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_MUSIC" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_PICTURES" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COMMON_VIDEO" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_COOKIES" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_DESKTOP" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_HISTORY" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_INTERNET_CACHE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_MYMUSIC" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_MYPICTURES" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_MYVIDEO" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_NETHOOD" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_PERSONAL" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_PRINTHOOD" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_PROFILE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_RECENT" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_DIR_RESOURCES" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDirs$(var.Suffix)" />
    </Fragment>

    <Fragment>
        <CustomAction Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" BinaryKey="$(var.Prefix)UtilCA$(var.Suffix)" DllEntry="WixQueryOsWellKnownSID" Execute="firstSequence" Return="check" SuppressModularization="yes" />

        <InstallExecuteSequence>
            <Custom Action="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallExecuteSequence>

        <InstallUISequence>
            <Custom Action="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallUISequence>
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_LOCALSYSTEM" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_LOCALSERVICE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_NETWORKSERVICE" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_ADMINISTRATORS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_USERS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_GUESTS" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>
    <Fragment>
        <Property Id="WIX_ACCOUNT_PERFLOGUSERS" Secure="yes" />
        <Property Id="WIX_ACCOUNT_PERFLOGUSERS_NODOMAIN" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsWellKnownSID$(var.Suffix)" />
    </Fragment>

    <Fragment>
        <CustomAction Id="$(var.Prefix)QueryOsDriverInfo$(var.Suffix)" BinaryKey="$(var.Prefix)UtilCA$(var.Suffix)" DllEntry="WixQueryOsDriverInfo" Execute="firstSequence" Return="check" SuppressModularization="yes" />

        <InstallExecuteSequence>
            <Custom Action="$(var.Prefix)QueryOsDriverInfo$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallExecuteSequence>

        <InstallUISequence>
            <Custom Action="$(var.Prefix)QueryOsDriverInfo$(var.Suffix)" After="AppSearch" Overridable="yes" Condition="VersionNT &gt; 400 OR (VersionNT = 400 AND ServicePackLevel &gt; 3)" />
        </InstallUISequence>
    </Fragment>

    <Fragment>
        <Property Id="WIX_WDDM_DRIVER_PRESENT" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDriverInfo$(var.Suffix)" />
    </Fragment>

    <Fragment>
        <Property Id="WIX_DWM_COMPOSITION_ENABLED" Secure="yes" />
        <CustomActionRef Id="$(var.Prefix)QueryOsDriverInfo$(var.Suffix)" />
    </Fragment>

    <Fragment>
        <BundleExtension Id="WixUtilBundleExtension" SourceFile="utilbe.dll" Name="WixUtilBundleExtension\utilbe.dll" />
    </Fragment>
</Wix>
