<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="2.1.65" targetFramework="native" developmentDependency="true" />
  <package id="WixToolset.BootstrapperCore.Native" version="4.0.14" targetFramework="native" />
  <package id="WixToolset.DUtil" version="4.0.18" targetFramework="native" />
</packages>