<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit" version="2.4.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.2" targetFramework="net461" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net461" />
  <package id="xunit.core" version="2.4.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net461" />
  <package id="xunit.runner.visualstudio" version="2.4.0" targetFramework="net461" />
  <package id="WixToolset.BalUtil" version="4.0.9" targetFramework="native" />
  <package id="WixToolset.BootstrapperCore" version="4.0.8" targetFramework="net461" />
  <package id="WixToolset.BootstrapperCore.Native" version="4.0.8" targetFramework="native" />
  <package id="WixToolset.DUtil" version="4.0.18" targetFramework="native" />
  <package id="WixToolset.Mba.Core" version="4.0.9" targetFramework="net461" />
</packages>