<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WixToolset.BextUtil" version="4.0.31" targetFramework="native" />
  <package id="WixToolset.BootstrapperCore.Native" version="4.0.16" targetFramework="native" />
  <package id="WixToolset.DUtil" version="4.0.30" targetFramework="native" />
</packages>