<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="build" value="..\build\artifacts" />
    <!-- <add key="github" value="https://nuget.pkg.github.com/wixtoolset/UnifiedTest1/index.json" /> -->
  </packageSources>
</configuration>
