name: Build WiX Toolset v5

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
  workflow_dispatch:
    inputs:
      tags:
        manual: true

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  NUGET_XMLDOC_MODE: skip

jobs:
  build:
    name: Build
    runs-on: windows-2022
    permissions:
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # - name: Configure Visual Studio
      #   shell: cmd
      #   run: ./src/vs_config.cmd

      - name: Install sign tool
        if: (github.ref == 'refs/heads/master')
        shell: cmd
        run: dotnet tool install --tool-path build\.tools sign --version 0.9.1-beta.23356.1

      - name: Configure automated logging and crash dumps
        shell: cmd
        run: |
          reg add HKLM\Software\Policies\Microsoft\Windows\Installer /t REG_SZ /v Logging /d voicewarmupx /f
          reg add HKLM\Software\WOW6432Node\Policies\Microsoft\Windows\Installer /t REG_SZ /v Logging /d voicewarmupx /f
          reg add "HKLM\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /t REG_EXPAND_SZ /v DumpFolder /d "%CD%\build\logs\crashdumps" /f
          reg add "HKLM\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /t REG_DWORD /v DumpCount /d 10 /f
          reg add "HKLM\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps" /t REG_DWORD /v DumpType /d 1 /f
          reg add "HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\Windows Error Reporting\LocalDumps" /t REG_EXPAND_SZ /v DumpFolder /d "%CD%\build\logs\crashdumps" /f
          reg add "HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\Windows Error Reporting\LocalDumps" /t REG_DWORD /v DumpCount /d 10 /f
          reg add "HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\Windows Error Reporting\LocalDumps" /t REG_DWORD /v DumpType /d 1

      - name: 'Az CLI login'
        if: (github.ref == 'refs/heads/master')
        uses: azure/login@v1
        with:
          allow-no-subscriptions: true
          client-id: ${{ secrets.WIX_SIGNING_CLIENTID }}
          tenant-id: ${{ secrets.WIX_SIGNING_TENANTID }}

      - name: Build wix5
        shell: cmd
        run: ./src/build_official.cmd
        env:
          RuntimeTestsEnabled: true
          SigningVaultUri:  ${{ github.ref == 'refs/heads/master' && secrets.WIX_SIGNING_VAULTURI || '' }}
          SigningCertName:  ${{ github.ref == 'refs/heads/master' && secrets.WIX_SIGNING_CERTNAME || '' }}

      - name: Validate test results
        shell: cmd
        run: 7z a build\testresults.zip @src\testresultfilelist.txt

      - name: Save build
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: build/artifacts/

      - name: Collect integration test logs
        if: always()
        shell: cmd
        run: 7z a "build\logs\test_burn_%GITHUB_RUN_ID%.zip" "%TEMP%\*.log" "%TEMP%\..\*.log"

      - name: Export Application event log
        if: always()
        shell: cmd
        run: wevtutil epl Application build\logs\Application.evtx /q:"Event/System/TimeCreated[timediff(@SystemTime) <= 86400000]"

      - name: Export System event log
        if: always()
        shell: cmd
        run: wevtutil epl System build\logs\System.evtx /q:"Event/System/TimeCreated[timediff(@SystemTime) <= 86400000]"

      # Do NOT publish logs on `master` branch as they may contain secrets in them.
      - name: Save logs
        if: github.ref != 'refs/heads/master' && always()
        uses: actions/upload-artifact@v3
        with:
          name: logs_${{ github.run_id }}
          path: build/logs/

      - name: Push to GitHub Packages
        if: github.event_name == 'push' && github.repository_owner == 'wixtoolset' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop')
        run: dotnet nuget push "build/artifacts/**/*.nupkg" --source https://nuget.pkg.github.com/wixtoolset/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
